@use 'base/variables' as v;
@use 'base/mixins' as m;

.calculate {
    padding: 2rem;

    @include m.telefono {
        padding: 3rem;
    }

    @include m.tablet {
        width: 100%;
        flex: 1;
    }
}

.calculate_header {
    padding-top: 1rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include m.telefono {
        margin-bottom: 3rem;
    }
    
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
    }

    .calculate_header-title {
        margin-bottom: 1rem;
        text-align: left;

        @include m.telefono {
            margin-bottom: 0;
        }

        @include m.tablet {
            font-size: 2.5rem;
        }
    }

    .calculate_header-clear {
        font-size: 1.5rem;
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }

        @include m.tablet {
            font-size: 1.6rem;
        }
    }
}

.calculate_form {

    @include m.telefono {
        .query-tablet {
            display: flex;
            gap: 1.5rem;
        }
    }

    .calculate_form-input {
        width: 100%;
        border: 1px solid v.$slate700;
        border-radius: .5rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        z-index: 1;
        display: flex;
        
        span {
            padding: 1rem 1.5rem;
            display: inline-block;
            background-color: v.$slate100;
            font-weight: 700;
            border-radius: 0 .3rem .3rem 0;   
        }

        .calculate_form-input--amount {
            border-radius: .3rem 0 0 .3rem;
        }

        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            appearance: none;
        }

        input[type=number] {
            -moz-appearance: none;
            appearance: none;
        }

        input {
            width: 100%;
            border: none;
            border-radius: .5rem;
            font-weight: 700;
            padding: 1rem 1.5rem;
            
            &:focus-visible {
                outline: none;
                appearance: none;
            }
        }
    }

    .focus {
        border: 1px solid v.$lime;

        span {
            background-color: v.$lime;
            color: v.$slate900;
        }
    }

    .calculate_form-btn {
        @include m.boton(v.$lime, flex);
        color: v.$slate900;
        border-radius: 5rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @include m.telefono {
            width: 60%;
        }

        @include m.tablet {
            width: 80%;
        }

        img {
            width: 2.5rem;
            display: inline-block;
        }
        
        input[type=submit] {
            display: inline-block;
            border: none;
            cursor: pointer;
            background-color: transparent;
            font-weight: 600;
        }
    }

    .alert_input {
        border: 1px solid v.$red;

        span {
            background-color: v.$red;
            color: v.$slate100;
        }
    }

    .alert {
        font-size: 1.2rem;
        color: v.$red;
        margin-top: -1.5rem;
        margin-bottom: 2.5rem;
    }
}
